.nav-box {
    width: 100%;
    height: 100px;
    /* border: 1px solid white; */
    display: flex;
    align-items: center;
    border: 1px solid white;
 
}

.nav-list {
    display: flex;
    font-size: 1.5rem;
}

.nav-list > li {
    margin-left: 2rem;
    margin-right: 2rem;
}

a {
    color: white;
}

.button-1 {
    border: 1px solid white;
    border-radius: 50px;
    height: 5.5rem;
    width: 15rem;
    margin-left: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
}

.button-2 {
    border: 1px solid white;
    border-radius: 50px;
    height: 5.5rem;
    width: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    background-color: red;
}
.logo {
    margin-left: 10rem;
    margin-right: 30rem;
    height: 8rem;
    width: auto;
}
.books{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    gap: 25px;
}

.book-no-1{
    border: 1px solid white;
    margin: 0px 0px 32px;
    padding: 32px 0px 40px;
}

.informations-text{
    margin-top: 50px;
    text-align: center;
    font-size: 2rem;
}
.header{
    font-size: 4rem;
}

.txt-1{
    margin-top: 50px;
}
.txt-gray{
    margin-top: 40px;
    color: grey;

}
.txt-2{
    font-size: 2rem;
    margin-top: 10px;
}

footer {
    height: 450px;
    margin-top: 100px;
    background-color: rgb(26, 26, 26);
    display: flex;
    gap: 100px;
    justify-content: center;
    padding-top: 70px;
}

.footer-first-box {
    width: 282px;
    font-size: 1.3rem;
}

.footer-logo{
    /* margin-left: 10rem; */
    margin-right: 90rem;
    height: 8rem;
    width: auto;
     
}


.footer-links {
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 12px;
    color: azure;
}
.headings {
    font-weight: 1000;
    font-size: 1.5rem;
    margin-bottom: 15px;
    margin-top: 15px;
    cursor: pointer;
}
.footer-second-box>ul>li {
    margin-bottom: 13px;
    margin-top: 13px;
    cursor: pointer;
}

.social-icon-circle {
    width: 45px;
    height: 45px;
    background-color: red;
    border-radius: 100%;
    cursor: pointer;
}

.fb-logo{
    text-align: center;
    margin-left: 4px;
    margin-top: 5px;
}

.arrow-but{

    background-color: white;
    color: red;
    padding: 6px;
    margin: 6px;
    border-radius: 6px;
    cursor: pointer;
}


.ig-logo{
    text-align: center;
    margin-left: 6px;
    margin-top: 5px;
  
}
.twit-logo{
    text-align: center;
    margin-left: 6px;
    margin-top: 4px;
}